# Auto-detect text files and normalize line endings
* text=auto
# Source code
*.cpp text
*.h text
*.hpp text
*.c text
*.in text
# Build / config
*.cmake text
*.json text
*.txt text
Makefile text
# Shaders
*.vert text
*.frag text
*.comp text
*.glsl text
# SPIR-V binaries
*.spv binary
*.glb filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
