# Auto-detect text files and normalize line endings
* text=auto
# Source code
*.c     text diff=cpp linguist-detectable=false
*.cc    text diff=cpp linguist-detectable=false
*.cxx   text diff=cpp linguist-detectable=false
*.cpp   text diff=cpp linguist-detectable=false
*.cpi   text diff=cpp linguist-detectable=false
*.c++   text diff=cpp linguist-detectable=false
*.hpp   text diff=cpp linguist-detectable=false
*.h     text diff=cpp linguist-detectable=false
*.h++   text diff=cpp linguist-detectable=false
*.hh    text diff=cpp linguist-detectable=false

# Build / config
*.cmake text diff=cmake linguist-detectable=false
*.json  text diff=json linguist-detectable=false
*.txt   text diff=text linguist-detectable=false
Makefile text diff=makefile linguist-detectable=false

# Shaders
*.vert text diff=glsl linguist-detectable=false
*.frag text diff=glsl linguist-detectable=false
*.comp text diff=glsl linguist-detectable=false
*.glsl text diff=glsl linguist-detectable=false

# SPIR-V binaries
*.spv binary
*.glb filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
